@import "tailwindcss";

@layer base {
  * {
    font-family: Helvetica, "Helvetica Neue", -apple-system, BlinkMacSystemFont,
      "Segoe UI", Arial, sans-serif;
  }

  body {
    background-color: var(--color-bg);
  }

  h1 {
    font-size: var(--text-2xl);
    font-weight: 700;
  }
  h2 {
    font-weight: 700;
    font-size: var(--text-xl);
  }
  h3 {
    font-weight: 500;
    font-size: var(--text-xl);
  }

  button {
    text-transform: uppercase;
    background-color: var(--color-primary);
    color: var(--color-white);
    font-weight: 500;
    border-radius: 2px;
    padding-inline: calc(var(--spacing) * 4);
    padding-block: calc(var(--spacing) * 2);
  }

  div {
    border-color: var(--color-wfdark);
  }

  .grainy {
    background-image: url("./assets/grain.svg");
    background-repeat: repeat;
    background-size: 180px;
    background-blend-mode: luminosity;
  }
}

@theme {
  --white-pure: #fff;
  --yellow-very-pale: #fffcf1;
  --yellow-pale: #e7e4c1;

  --blue-pale: #c6e5d6;
  --blue-light: #008e9c;
  --blue: #004d69;
  --blue-dark: #0e1e2e;
  --blue-very-dark: #08090e;

  --orange: #c64c0d;
  --red-dark: #721c0f;
  --red-very-dark: #3f2320;

  --green-light: #5eba67;
  --green: #00734c;
  --green-dark: #003e33;

  --woods: #494a00;

  --color-bg: var(--yellow-pale);
  --color-primary: var(--blue);
  --color-error: var(--orange);
  --color-wfdark: var(--blue-dark);
}
